TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

OPENAI_API_KEY=

ENVIRONMENT=local
WEBSOCKET_URL=
APP_CALLBACK_URL=

REDIS_URL=redis://redis:6379

WHISPER_URL=ws://whisper-app:9000

MELO_TTS=http://melo-app:8000/connection